$backblue: rgb(51, 85, 90);
$sideTopBlue: rgb(62, 128, 145);
$f: flex;

%genralsize {
    width: 100%;
    height: 100%;
}
%flexYcenter {
    display: $f;
    align-items: center;
}
%gradient {
    background-image: linear-gradient(to bottom right, rgb(33, 125, 149), rgb(247, 212, 162),);
}

/*Background*/
html {
    @extend %genralsize;
    overflow: hidden;
}

body {
    @extend %genralsize;
    @extend %flexYcenter;
    background-color: $backblue;
    justify-content: center;
}

/*Nav bar on top and side*/
.sidetop {
    width: 90%;
    background-color: $sideTopBlue;
    height: 90%;
    border-radius: 20px;
    padding: 10px;
    display: $f;
    position: relative;
}
.items {
    padding: 20px 0;
    color: #fff;
}
.logo, .profile {
    width: 100px;
    height: 100px;
}
img.fake {
    width: 50px;
   height: 50px;
}
.team-icon {
    width: 100%;
    
}
.team {
    width: 50px;
    height: 50px;
    @extend %flexYcenter;
    padding-right: 20px;
}
.sidebar {
    display: $f;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100px;
}
.topbar {
    @extend %flexYcenter;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
    width: 84%;
    gap: 100px;
}
.top-content {
    width: 200px;
    display: $f;
}
.div-top-stuff{
    width: 200px;
    display: $f;
    padding: 20px;
}
.top-left {
    display: $f;
    width: 200px;
    margin: 0;
    color: #fff;
}
.top-items, .back {
    color: #fff;
    padding: 0 60px;
}
.item-back{
    color: #fff;
    padding: 0;
}
.top-content {
    width: 600px;
}
.return{
    @extend %flexYcenter;
    gap: 4px;
}

.white-cir{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @extend %flexYcenter;
    justify-content: center;
}

/*White Background*/
.whiteback {
    background-color: #fff;
    width: 84%;
    height: 80%;
    position: absolute;
    bottom: 50px;
    right: 95px;
    border-radius: 20px;
    justify-content: center;
    @extend %flexYcenter;
    
}
.main {
    width: 90%;
    height: 90%;
}
.top {
    width: 100%;
    height: 50%;
    display: $f;
}

/*Left*/
.left {
    width: 50%;
    height: 100%;
    background-color: #c8c4c4;
    position: relative;
    @extend %gradient;
    border-radius: 20px;
}
<<<<<<< HEAD
.col h3, .col p, .col h4{
    margin: 0;
}
.small-col {
    display: flex;
=======
.col {
    display: $f;
>>>>>>> 44c93db (hi)
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.col {
    display: $f;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 200px;
    padding: 20px;
}
.left-box {
    display: flex;
    gap: 5px;
}
.leftimg {
    width: 350px;
    height: 350px;
    position: absolute;
    right: 10px;
    bottom: 0px;

}
.leftimg img {
    object-fit: cover;
    @extend %genralsize;
<<<<<<< HEAD
}

.img-stats{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.484);
    opacity: 50%;
    @extend %flexYcenter;
    justify-content: center;
}
.img-stats img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    
=======
>>>>>>> 44c93db (hi)
}

/*Right*/
.right {
    width: 50%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    display: $f;
    justify-content: center;
}
<<<<<<< HEAD

=======
.col {
    display: $f;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    margin: 0 20px;
}
>>>>>>> 44c93db (hi)
.num-img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 0px;

}
.num-img img {
    object-fit: cover;
    @extend %genralsize;
}
.right-background {
    width: 80%;
    height: 100%;
    background-color: rgb(247, 212, 162);
    border-radius: 20px;
}

<<<<<<< HEAD
/*Bottom*/
.bottom-img {
    width: 300px;
    height: 250px;
}
.bottom-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.bottom {
    display: flex;
    justify-content: space-around;
}

=======
>>>>>>> 44c93db (hi)

/*page in middle*/
.page{
    background-color: rgb(255, 255, 255);
    width: 84%;
    height: 80%;
    position: absolute;
    bottom: 35px;
    right: 40px;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*everything*/
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6, .page p{
    margin: 0;
}
.gray-line{
    background-color: $backblue;
    width: 100%;
    height: 3px;
}
a{
    text-decoration: none;
    color: white;
}


/*search layout*/

.top-quin{
    height: 100px;
    @extend %flexYcenter;
    justify-content: space-between;
}
.star{
    height: 150px;
}
.bar{
    height: 50px;
}
.bottom-stuff{
    height: 400px;
    display: $f;
    justify-content: space-between;
    flex-wrap: wrap;
}
.select{
    display: $f;
    justify-content: space-between;
    width: 100%;
}


/**/
.com-sear{
    border-radius: 20px;
    width: 80%;
    position: relative;
}
.com-sear input{
    width: 100%;
}
.search{
    width: 60%;
    position: relative;
    display: $f;
    justify-content: flex-end;
}
.search img{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 2px;
    top: 25%;
}
.bar a{
    text-decoration: none;
    color: black;
}




/*4 boxes*/
.boxes{
    display: $f;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.box-quin{
    border-radius: 20px;
    width: 400px;
    height: 200px;
    background-color: orange;
;
    display: $f;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.black-cir{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
}
.bottom-box{
    display: $f;
    justify-content: space-between;
    align-items: flex-end;
}
.bottom-box h1{
    font-size: 90px;
}

.black-cir p{
    width: 100%;
    height: 100%;
    color: white;
    font-size: xx-large;
}

.black-cir{
    @extend %flexYcenter;
    justify-content: center;
}
.pink{
    background-color: red;
}
.yellow{
    background-color: blue;
}
.purple{
    background-color: plum;
}


/*big-boxes-bottom*/
.dates{
    display: $f;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    margin-right: 120px;
}
.nums{
    display: $f;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.place-holder{
    background-color: yellow;
    width: 80%;
    height: 200px;
}
.side-by-side{
    display: $f;
    gap: 20px;
}
.graph{
    padding: 20px;
    display: $f;
    justify-content: flex-end;
    flex-direction: column;
}

.box-words{
    padding: 20px;
    display: $f;
    flex-direction: column;
    align-items: flex-start;
}

.big-box{
    border: 5px solid $backblue;
    border-radius: 20px;
    width: 100%;
    height: 400px;
    margin: 20px;
}






/*stats layout*/

.main-stats{
    background-color: rgb(255, 255, 255);
    width: 84%;
    height: 80%;
    position: absolute;
    bottom: 35px;
    right: 40px;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.top-of-stats{
    @extend %flexYcenter;
    justify-content: space-between;
}
.top-of-stats img{
    width: 40px;
    height: 40px;
}

.main-stats h1, .main-stats h2, .main-stats h3, .main-stats h4, .main-stats h5, .main-stats h6, .main-stats p{
    margin: 0;
}
.main-stats a{
    color: black;
}

.link-and-img{
    @extend %flexYcenter
}

.left-of-stats{
    display: $f;
}




